<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scnu.dao.StuCouMapper">
    <resultMap id="BaseResultMap" type="com.scnu.entity.StuCou">
        <id column="courseId" property="courseId" jdbcType="INTEGER"/>
        <result column="stuId" property="stuId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insertStuCou">
        insert ignore into stu_cou(courseId,stuId,state,createTime)
        values(#{courseId},#{stuId},0,now())
    </insert>



</mapper>